@charset "UTF-8";

html{
	width: 500px;
	margin: 10px auto; 
}

h2{
	text-align: center; 
}

a:link{
	color : 37A2D9;
	font-weight: bold;
}

a:visited{
	color: 0D1754;
	font-weight: bold;
}

a:hover{
	color: 636D8A;
	font-weight: bold; 
}

a:active{
	color: blue;
	font-weight: bold; 
}

table{
	width: 500px;
	border-collapse: collapse;
    border-radius: 50px;
    box-shadow: 8px 8px 4px 4px rgba(0, 0, 0, 0.1);
    
}

table, th, td {
	text-align: center;
	border: 1px none black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

label {
	font-weight: bold;
}

form input[type=text], form input[type=number], form input[type=password],
	form input[type=date], form input[type=range], form input[type=email],
	form input[type=url], form input[type=time], form input[list] {
	width: 500px;
	font-size: 1em;
}

textarea {
	width: 500px;
	height: 60px;
	font-size: 1em;
}

.logo{
	width: 80px;
	height: 80px;
	position: absolute;
	transform: translate(-50%, -50%);

}